@model IEnumerable<GymBooking.Models.GymClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div id = "createajax"></div> 

<div>

    <a asp-action="Create">Create Original</a>
    
    <a asp-action="Create" class="btn btn-dark"
        data-ajax = "true" 
        data-ajax-method ="GET"
        data-ajax-update = "#createajax" 
        data-ajax-mode = "replace"
        data-ajax-success = "fixValidation"        
    >Create Ajax</a>

    <p id = "fetch" class = "btn btn-dark">Fetch</p>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id=" gymclasses">
        <partial name = "GymClassesPartial"/>
    </tbody>
</table>
